nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  padding: 0 1%;
  margin-bottom: 3%;
}

.nav-item {
  width: 35px;
}

.small-icon {
  width: 45px;
}

.input {
  border: 1px solid #DBDBDB;
  color: #DBDBDB;
  background-color: #FAFAF9;
  border-radius: 3px;
  width: 215px;
  height: 30px;
  font-size: 15px;
}

.search-bar-left {
    width: 280px;
    display: flex;
    align-items: center;
}

.search-bar-right {
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.camera-logo {
    padding-right: 15px;
    width: 60px;
}

.logo-writing {
    width: 160px;
    border-left: 1px solid black;
    padding-left: 15px;
}

.input::placeholder {
    text-align: center;
  }